.display{
    grid-column: span 4;

    background-color: rgba(0, 0, 0, .3);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 3.5rem;
    padding: 20px;
    overflow:hidden;
}